
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
    background: #FFFFFF; /* body color */
  }
  

  .content {
    flex: 1;
    margin: 0 auto;
    min-width: 1200px;
    padding: 20px 40px;
  }

  .no-padding {
    padding: 0;
  }

  .default-padding {
    padding: 20px;
  }
  
  body {
    background: #F9FAFB; /* soft off-white */
    color: #111827;       /* main text */
    font-family: 'Montserrat', sans-serif;
  }
  
  h1, h2, h3 {
    color: #111827;
  }
  
  p {
    color: #6B7280; /* muted gray for descriptions */
  }
  